*{box-sizing: border-box;
margin: auto;
max-width: 1000px;}

body {
    margin: auto;
    width: 100%;
    background-image:image("hatter.gif") 
    widt
}
img{
    width: 100%;
}


main {
    background-color: azure;
    border: solid azure 1px;
    border-radius: 5px;
}

.MMÉ {
    border: 1px solid gray;
}

a { border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    text-decoration: none;
    border-radius: 5px;
}


article {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-indent: 5px;

}
article.img {
    max-width: 100px;

}

.ikonok {grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
display:flex;
border: 1px solid black;
border-radius: 5px;
width: 10px;
height: 10px;}

header {font-family: Arial, Helvetica, sans-serif;}

.margitmama {
    grid-template-columns: 1fr 1fr;
    display: grid;
    border: 1px  solid black;
    border-radius: 5px;
}

@media screen  {}