*{box-sizing: border-box;
margin: auto;
max-width: 1000px;}

body {
    margin: auto;
    width: 100%;
    background-image:url(kepek/hatter.gif)
    
}
img{
    width: 100%;
}


main {
    background-color: rgb(234, 236, 236);
    border: solid rgb(234, 236, 236) 1px;
    border-radius: 5px;
    width: 80%;
}

.MMÉ {
    border: 1px solid gray;
}

a { border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

footer {border: 1px solid black;
border-radius: 5px;
width: 100%;
background-image:url(kepek/headerhatter.png) ;}


article {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-indent: 5px;
    background-color: white;
}
article.img {
    max-width: 100px;

}

.ikonok {grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
display:flex;
gap: 5px;
width: 30px;
height: 30px;
background-color: darkgray;
}

header {font-family: Arial, Helvetica, sans-serif;
color: white;
padding: 10px;
width: 100%;
text-align: center;
background-image: url(kepek/headerhatter.png);}

.margitmama {
    grid-template-columns: 1fr 1fr;
    display: grid;
    
}

.MargitÉlete {border: 1px  solid black;
    border-radius: 5px;}

.Margitról {border: 1px  solid black;
    border-radius: 5px;
}

.Résztvevők {text-align: center;}



@media screen  {}